*{
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    /* position: fixed;
    top: 0;
    left: 0; */
    
    display: flex;
    width:  100%;
    height: 10%;
    background-color: #a52a2a;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    float: inline-start;
    
}
body  {
    background-color:  #e6f2ff;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
main{
    display: flex;
    min-height: 90%;
    background-color: transparent;
}

.logo{
    width: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    color: white;
}

.search{
    width: 60%;
    background-color: white;
    border: 1px solid gray;
    border-radius: 50px;
    padding: 0px 15px;
}

.logout{
    width: 20;
}

#search_ip{
    width: 70%;
    display: inline;
    height: 70%;
    border: none;
    background: none;
    outline: none;
    float: left;
    font-size: medium;
}

#search_btn{
    display: inline;
    outline: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: transparent;
    float: right;
    border: none;
    cursor: pointer;

}


.logout, .edit-profile{
    display: flex;
    color: white;
    cursor: pointer;
    width: max-content;
    padding: 10px;
    border-radius: 50px;
    /* background-color: #cb3434; */
}

.edit-profile{
    display: fixed;
    right: 0;
    top: 0;
}

.event{
    width: 20%;
}

.feed{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    background-color: transparent;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

#invite{
    outline: none;
    padding: 5px 15px;
}


.notification{
    width: 20%;
}

.card, .card-notification, .card-birthday{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: white;
    width: 300px;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px gray;
    margin: 3px;
}

.card-book{
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    width: 95%;
    border-radius: 15px;
    box-shadow: 0px 0px 2px 2px gray;
    margin: 3px;
    padding: 10px;
}

#book-img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.card-notification{
    width: 95%;
}
#card-img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

#card-label{
    font-weight: bolder;
    font-size: x-large;
}
#card-label-bd{
    font-weight: bolder;
    font-size: larger;
}

label[id|=card-id-label]{
    font-weight: lighter;
    font-size: small;
}



.event-notification-label{
    text-align: left;
    font-weight: bold;
    padding: 10px;
    color: #00264d;
}

img[id = "profile"]{
    width: 15%;
    border: 3px solid white;
}



#logout_btn, #edit-profile-btn{
    cursor: pointer;
    background: none;
    outline: none;
    padding: 10px;
    border: none;
    color: white;
    font-size: medium;
    text-align: center;
}


/* from w3, for making header float on the top */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  

  footer{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      font-weight: lighter;
      height: 100px;
      color: white;
      background-color: #293d3d;
  }